.search {
  max-width: 30rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 2rem;
  align-items: baseline;
  justify-content: space-between;
  &__button-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;    
  }
  &__button {
    margin-right: auto;
  }
}
