.room {
  &--free {
    fill: #99de99;
  }
  
  &--reserved {
    fill: #de9999;
  }
  &--unrelevant {
    fill: #939393;
  }
  &--selected {
    fill: #63B0CD;
  }
  &:hover {
    fill: #83d0eD;
    cursor: pointer;
  }
  &:active {
    fill: #73C0DD;
  }
}

.room-select {
  width: 100%;
  &__floor{
    width: 100%;
  }
}
