.room {
  &--free {
    fill: #99de99;
  }
  
  &--reserved {
    fill: #de9999;
  }
  &--unrelevant {
    fill: #939393;
  }
  &:hover {
    fill: #eeeeee;
    cursor: pointer;
  }
}

.room-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  &__floor{
    min-width: 20rem;
    min-height: 20rem;
  }
}
